body {
  background-image: url("images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #F1F1F1;
}

#survey-form {
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(8px);
  border: 3px solid white;
  font-size: 1.1em;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  padding: 2% 7% 5% 5%;
}

h1 {
  text-align: center;
  font-size: 5vw;
}

#description {
  text-align: center;
  font-size: 2vw;
}

#name {
  margin-top: 1vw;
  padding: 1vw 1vw 1vw 1vw;
  width: 100%;
}

#name-text {
  padding-top: 2vw;
  padding-bottom: 1vw;
}

#email {
  margin-top: 1vw;
  padding: 1vw 1vw 1vw 1vw;
  width: 100%;
}

#email-text {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#number {
  margin-top: 1vw;
  padding: 1vw 1vw 1vw 1vw;
  width: 100%;
}

#number-text {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#dropdown-types {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#dropdown {
  margin-top: 1vw;
  padding: 1vw 1vw 1vw 1vw;
  width: 105%;
}

#radio {
  margin-top: 1vw;
  padding: 1vw 1vw 1vw 1vw;

}
fieldset {
  margin-top: 1vw;
  padding: 1vw 1vw 1vw 1vw;
  margin-bottom: 2vw;
  width: 100%;
}
button {
  margin-top: 2vw;
  padding: 1vw 1vw 1vw 1vw;
  margin-bottom: 2vw;
  width: 105%;
  border-radius: 15px;
}
textarea {
  width: 105%;
}
